.container{
    width:210mm;
    /* height:37.8mm; */
    background-color: white;
    -webkit-print-color-adjust: exact;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    word-break: break-all;
}
.title{
    font-size: 22px;
    font-weight: 500;
    margin-left: 14px;
}
.info{
    font-size: 19px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-left: 16px;
    margin-top: 7px;
}
.desc{
    margin-left: 14px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 400;
}

.dot{
    margin-top:20px;
    margin-left: 16px;
    font-size: 18px;
}